@use postcss-preset-env {
  stage: 0
}

.stack {
  display: grid;
  grid: [stack] / [stack];
  perspective: 5000;
  
  &:before {
    content: "";
    position: fixed;
    inset: 0;
    background: lch(95 0 0);
    transition: background 2s ease;
    pointer-events: none;
  }
  
  &:matches(:hover, :active) {
    &:before {
      background: lch(15 0 0);
    }
  }
  
  &:matches(:hover, :active) .card {
    --bg-opacity: 5%;
    transition-duration: 2s;
    transition-timing-function: var(--easeInOutCirc);
    transform: 
      rotateX(45deg) rotate(45deg) 
      translateZ(var(--z-offset)) translateY(20vh) translateX(20vh)
    ;
    
    &:nth-child(1) { --z-offset: 75vh; }
    &:nth-child(2) { --z-offset: 50vh; }
    &:nth-child(3) { --z-offset: 25vh; }
    &:nth-child(4) { --z-offset: 0vh; }
    &:nth-child(5) { --z-offset: -25vh; }
    
    &:nth-child(1)::after { transition-delay: 1.5s; }
    &:nth-child(2)::after { transition-delay: 1.7s; }
